# Ignore all .log files
*.log

# Ignore node_modules directory
node_modules/

# Ignore dist directory
dist/

# Ignore environment file
.env

# Don't ignore important.js
!important.js

# Ignore all .txt files in folder/
folder/*.txt
